.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}

.home-img {
  max-height: 125px;
  width: 50%;
}

.navtext {
  color: white !important;
}
